<img src="<%= image_url('background.jpeg') %>" class="bg">
<div class="jumbotron" style="background: none;">
	<div class="" style="color:white; font-size:2.5em">
		<div style="float:left; width:50%;">
			<img src="<%= image_url('HostMagic.png') %>" style="width:70%;">
		</div>
		
		<div style="float:left; width:50%; font-weight: 900; text-align: right;margin-top: 3.9em;">
			<span class="float:right; margin-top:1em;display:block;">Controlled Guest Access</span><br>
			<span class="float:right">Proximity Door Unlocking</span>
		</div>
		<div class="clearfix"></div>

	</div>

	<p style="text-align: center; margin-top: 20em;"><a class="btn btn-lg btn-success" href="/login" role="button" style="font-size:1.5em; padding:1em">Get started today</a><div class="clearfix"></div></p>
</div>

<div class="row home-page" style="color:white;">
	<div class="col-lg-4">
	  <h2>Better for Hosts</h2>
	  <p>Allow guests to gain access to your rental without having to meet them in person. Time-box their stay so you don't have to remember to take back their access.</p>
	  <p></p>
	</div>
	<div class="col-lg-4">
	  <h2>Better for Guests</h2>
	  <p>With automatic proximity based unlocking, you guest doesn't need to look for keys when they want to open the door. Turning on the lights is as easy as it is for the owner with AT&T Digital Life.</p>
	  <p></p>
	</div>
	<div class="col-lg-4">
	  <h2>Make More Money</h2>
	  <p>Better Reviews and found time mean more money. You'll have more time to enjoy yourself without the burden of meeting up with your guest.</p>
	  <p></p>
	</div>
</div>